---
layout: default
title: Home
---
<div class="container-fluid">
  {% for post in site.posts %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
      <div class="row row__posts__container">
        <div class="col-md-4 col-md-offset-2 posts__container--inner"><a href="{{site.baseurl}}{{post.url}}" class="post__container--right">
            <div class="text--header post__title">{{ post.title }}</div><img src="https://s15.postimg.org/cs73raynv/coverex.png" data-pin-no-hover class="post__cover"/>
            <div class="text--subheader post__category">{{ post.categories | category_links }}</div>
            <div class="text--header post__number">1</div>
            <div class="text--subheader post__more">read more<span class="post__arrow">&nbsp;&nbsp;&rarr;</span></div>
            <div class="text--subheader post__date">October 12, 2016</div>
            <div class="text--body post__excerpt">{{ post.excerpt }}</div></a></div>
        {% else %}
        <div class="col-md-4 posts__container--inner"><a href="{{site.baseurl}}{{post.url}}" class="post__container--left">
            <div class="text--subheader post__category">{{ post.categories | category_links }}</div>
            <div class="text--header post__number">2</div><img src="https://s15.postimg.org/cs73raynv/coverex.png" data-pin-no-hover class="post__cover"/>
            <div class="text--header post__title">{{ post.title }}</div>
            <div class="text--subheader post__more">read more<span class="post__arrow">&nbsp;&nbsp;&rarr;</span></div>
            <div class="text--subheader post__date">October 12, 2016</div>
            <div class="text--body post__excerpt">{{ post.excerpt }}</div></a></div>
        </div>
        {% endif %}
    {% endfor %}
    </div>



<!-- Show last 5 posts here -->
    <!-- Works -->
<!-- <div class="container_fluid">
    <div class="row section__container footer__container">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="text__header">Selected works</div>
            <div class="header__border--bottom"></div>
            <div class="row">
                {% for post in site.posts limit: 2 %}
                    <div class="col-sm-6 col-xs-12"><a href="{{site.baseurl}}{{post.url}}" class="work__container">
                        <div class="text__overlay hidden-xs">
                            <div class="text__header">{{ post.title }}</div>
                            <div class="header__border--bottom"></div>
                            <div class="text__body">{{ post.excerpt }}<br/><br/>{{ post.categories | category_links }}</div>
                        </div><img src="https://cloud.githubusercontent.com/assets/21296744/18262665/4f117bfe-73c9-11e6-8887-a9c924df2d61.png" class="work"/></a>
                        <div class="work__caption--mobile visible-xs">
                            <div class="text__header">{{ post.title }}</div>
                            <div class="header__border--bottom"></div>
                            <div class="text__body">{{ post.excerpt }}<br/><br/>{{ post.categories | category_links }}</div>
                        </div>
                    </div>
                {% endfor %}
                {% for post in site.posts limit: 2 offset: 2 %}
                    <div class="col-sm-6 col-xs-12"><a href="{{site.baseurl}}{{post.url}}" class="work__container">
                        <div class="text__overlay hidden-xs">
                          <div class="text__header">{{ post.title }}</div>
                          <div class="header__border--bottom"></div>
                          <div class="text__body">{{ post.excerpt }}<br/><br/>{{ post.categories | category_links }}</div>
                        </div><img src="https://cloud.githubusercontent.com/assets/21296744/18262776/3c183c76-73ca-11e6-8928-3e3f8af89ed5.png" class="work"/></a>
                        <div class="work__caption--mobile visible-xs">
                            <div class="text__header">{{ post.title }}</div>
                            <div class="header__border--bottom"></div>
                            <div class="text__body">{{ post.excerpt }}<br/><br/>{{ post.categories | category_links }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
 -->

<!-- <div id="paginator">
    {% if paginator.next_page %}
            <a href="{{site.baseurl}}/page{{paginator.next_page}}">
            &laquo; Older Posts</a>
    {% endif %}

    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
                <span class="more">
                <a href="{{site.baseurl}}/">
                Newer Posts &raquo; </a>
                </span>
        {% else %}
                <span class="more">
                <a href="{{site.baseurl}}/page{{paginator.previous_page}}">
                Newer Posts &raquo; </a>
                </span>
        {% endif %}
    {% endif %}
</div> -->
