.text--header {
  font-family: 'Playfair Display', serif;
  color: #333;
}
.text--subheader {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
.text--body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #333;
  line-height: 21px;
  letter-spacing: 0.5px;
}
#override--bootstrap .nav>li>a {
  display: inline-block;
}
#override--bootstrap .nav-pills>li>a {
  border-radius: 0px;
}
#override--bootstrap .nav .open>a,
#override--bootstrap .nav .open>a:focus,
#override--bootstrap .nav .open>a:hover,
#override--bootstrap .nav>li>a:hover {
  background-color: transparent;
  border-color: #c93;
}
#override--bootstrap .dropdown-menu {
  border-radius: 0px;
  padding: 10px 0px;
  margin: 0px 0px 0px 5px;
  -webkit-box-shadow: 0 0 0 0 #c8c8c8;
  box-shadow: 0 0 0 0 #c8c8c8;
  -moz-box-shadow: 0 0 0 0 #c8c8c8;
}
#override--bootstrap .dropdown-menu>li>a {
  font-weight: 500;
  letter-spacing: 0.5px;
}
#override--bootstrap .dropdown-menu>li>a:hover {
  background-color: #fff;
  color: #c93;
}
.nav {
  padding-left: 0px;
  margin: 0px;
}
.nav--top__container {
  height: 80px;
}
.nav--top__link--container {
  margin-top: 21px;
}
.nav--top--dropdown--menu-item {
  font-size: 12px;
}
.nav--top__link {
  font-size: 12px;
  letter-spacing: 0.5px;
  padding: 5px 10px;
}
.nav--top__link,
.nav--top--dropdown--menu-item {
  font-weight: 500;
  color: #333;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.nav--top__link:hover,
.nav--top--dropdown--menu-item:hover {
  text-decoration: none;
  color: #c93;
  transition: $transition-regular;
}
.nav--top--left {
  margin: 0px 10px 0px 0px;
}
.nav--top--right {
  margin: 0px 0px 0px 10px;
}
.nav--top--mid {
  margin: 0px 10px;
}
.title__container {
  height: 200px;
  margin-top: 80px;
}
.h1__container {
  position: relative;
  margin-top: 30px;
}
.h1__container:hover {
  opacity: 1;
  transition: all 0.75s ease;
}
.h1__container:hover .line--title {
  background-color: #333;
  transition: all 0.75s ease;
  width: 175px;
}
.text---header--h1 {
  font-size: 80px;
  opacity: 0.2;
}
.title__description {
  padding-left:3px;
}

.line--title {
  height: 5px;
  background-color: transparent;
  width: 0px;
  position: absolute;
  top: 118px;
  left: 200px;
}
@media (max-width: 768px) {
  .text---header--h1 {
    font-size: 50px;
    text-align: center;
  }
}
.row__posts__container {
  margin-bottom: 250px;
}
.posts__container--inner {
  height: 350px;
  position: relative;
}
.post__container--left,
.post__container--right,
.post__number,
.post__cover,
.post__category,
.post__title,
.post__more,
.post__date,
.post__excerpt {
  position: absolute;
}
.post__container--left {
  height: 500px;
  width: 550px;
  top: 25px;
  left:-660px;
}
.post__container--right {
  height: 500px;
  width: 550px;
  bottom: 25px;
  right: -460px;
  z-index: 100;
}
.post__container--right:hover .post__cover,
.post__container--left:hover .post__cover {
  border-bottom: 5px solid #c93;
  filter: grayscale(0%);
}
.post__container--right:hover .post__category,
.post__container--left:hover .post__category {
  opacity: 1;
  color: #c93;
  transition: all 0.75s ease;
}
.post__container--right:hover .post__more,
.post__container--left:hover .post__more {
  opacity: 1;
  transition: all 0.75s ease;
}
.post__number {
  font-size: 100px;
  z-index: 5;
  left: 105px;
  bottom: 210px;
}
.post__cover {
  height: 375px;
  width: 350px;
  right: 0px;
  top: 0px;
  border-bottom: 5px solid #333;
  filter: grayscale(100%);
}
.post__category {
  top: -30px;
  right: 2px;
  opacity: 0.2;
}
.post__title {
  width: 250px;
  background-color: #fff;
  font-size: 21px;
  text-align: right;
  padding: 5px 10px;
  bottom: 150px;
  z-index: 3;
}
.post__more {
  bottom: 150px;
  right: -30px;
  background-color: #fff;
  padding: 10px;
  color: #333;
  opacity: 0;
  z-index: 3;
}
.post__arrow {
  color: #c93;
}
.post__date {
  top: 395px;
  left: 122px;
  color: #333;
  opacity: 0.2;
}
.post__excerpt {
  top: 421px;
  width: 425px;
  left: 122px;
}
