/*Navigation*/
.nav--top__container {
  height: 80px;
}
.nav {
  padding-left: 0px;
  margin: 0px;
}
.nav>li>a {
  display: inline-block;
}
.nav-pills>li>a {
  border-radius: 0px;
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover,
.nav>li>a:hover {
  background-color: transparent;
  border-color: #c93;
}
.dropdown-menu {
  border-radius: 0px;
  padding: 10px 0px;
  margin: 0px 0px 0px 5px;
  -webkit-box-shadow: 0 0 0 0 #c8c8c8;
  box-shadow: 0 0 0 0 #c8c8c8;
  -moz-box-shadow: 0 0 0 0 #c8c8c8;
}
.dropdown-menu>li>a {
  font-weight: 500;
  letter-spacing: 0.5px;
}
.dropdown-menu>li>a:hover {
  background-color: #fff;
  color: #c93;
}
.nav--top__link--container {
  margin-top: 21px;
}
.nav--top--dropdown--menu-item {
  font-size: 12px;
}
.nav--top__link {
  font-size: 12px;
  letter-spacing: 0.5px;
  padding: 5px 10px;
}
.nav--top__link,
.nav--top--dropdown--menu-item {
  font-weight: 500;
  color: #333;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.nav--top__link:hover,
.nav--top--dropdown--menu-item:hover {
  text-decoration: none;
  color: #c93;
  transition: all 0.5s ease;
}
.nav--top--left {
  margin: 0px 10px 0px 0px;
}
.nav--top--right {
  margin: 0px 0px 0px 10px;
}
.nav--top--mid {
  margin: 0px 10px;
}


/*.post_img {
    max-width 100%;
}
.text__header,
.text__body {
  font-family: Roboto;
  font-weight: 300;
  letter-spacing: 1.5px;
}
.text__header {
  font-size: 18px;
  color: #666;
}
.text__header a {
  color: #666;
}
.text__header:hover {
  text-decoration: none;
  transition: all 0.3s ease;
  color: #333;
}
.text__body {
  font-size: 14px;
  line-height: 24px;
  color: #999;
}
.text__body a {
  color: #999;
}
.text__social {
  margin-top: 15px;
}
.section__container {
  margin-top: 80px;
}
.footer__container {
  margin-bottom: 100px;
}
.section__container--2col-left {
  padding-right: 30px;
}
.section__container--2col-right {
  padding-left: 30px;
}
.header__border--bottom {
  height: 1px;
  width: 30px;
  background-color: #ddd;
  margin-top: 15px;
  margin-bottom: 20px;
}
.work__container {
  position: relative;
}
.work__container:hover .work {
  opacity: 0.1;
  transition: all 0.3s ease;
}
.work__container:hover .work__overlay,
.work__container:hover .text__overlay {
  opacity: 1;
  transition: all 0.3s ease;
}
.work__overlay {
  background-color: #eee;
  opacity: -2;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
}
.work {
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #ddd;
}
.text__overlay {
  position: absolute;
  z-index: 3;
  opacity: 0;
  margin: 50px;
}
.work__caption--mobile {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .section__container {
    margin-top: 50px;
  }
  .section__container--2col-left,
  .section__container--2col-right {
    padding: 15px;
  }
  .section__container--2col-right {
    padding-top: 50px;
  }
}*/

