/*Bootstrap Overrides*/
#bootstrap--overrrides
 .nav>li>a {
  display: inline-block;
}
#bootstrap--overrrides
 .nav-pills>li>a {
  border-radius: 0px;
}
#bootstrap--overrrides
 .nav .open>a,
#bootstrap--overrrides
 .nav .open>a:focus,
#bootstrap--overrrides
 .nav .open>a:hover,
#bootstrap--overrrides
 .nav>li>a:hover {
  background-color: #ffffff;
  border-color: #c93;
}
#bootstrap--overrrides
 .dropdown-menu {
  border-radius: 0px;
  padding: 10px 0px;
  margin: 0px 0px 0px 5px;
  -webkit-box-shadow: 0 0 0 0 #c8c8c8;
  box-shadow: 0 0 0 0 #c8c8c8;
  -moz-box-shadow: 0 0 0 0 #c8c8c8;
}
#bootstrap--overrrides
 .dropdown-menu>li>a {
  font-weight: 500;
  letter-spacing: 0.5px;
}
#bootstrap--overrrides 
.dropdown-menu>li>a:hover {
  background-color: #fff;
  color: #c93;
}
/*Navigation*/
.nav--top__container {
  height: 80px;
}
.nav {
  padding-left: 0px;
  margin: 0px;
}
.nav--top__link--container {
  margin-top: 21px;
}
.nav--top--dropdown--menu-item {
  font-size: 12px;
}
.nav--top__link {
  font-size: 12px;
  letter-spacing: 0.5px;
  padding: 5px 10px;
}
.nav--top__link,
.nav--top--dropdown--menu-item {
  font-weight: 500;
  color: #333;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.nav--top__link:hover,
.nav--top--dropdown--menu-item:hover {
  text-decoration: none;
  color: #c93;
  transition: all 0.5s ease;
}
.nav--top--left {
  margin: 0px 10px 0px 0px;
}
.nav--top--right {
  margin: 0px 0px 0px 10px;
}
.nav--top--mid {
  margin: 0px 10px;
}
/*Header*/
.header__name {
  position: absolute;
  font-size: 80px;
  top: 60px;
  opacity: 0.2;
}
.header__name:hover {
  opacity: 1;
  color: #333;
  transition: all 0.5s ease;
  text-decoration: none;
}
.header__name:hover .header__line {
  background-color: #333;
  width: 210px;
  transition: width 0.5s ease;
}
.header__line {
  height: 5px;
  background-color: transparent;
  width: 0px;
  position: absolute;
  top: 118px;
  left: 165px;
}
.header__container {
  margin-top: 80px;
}
