<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8"/>
		<title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
		<link rel="stylesheet" href="{{site.baseurl}}/style.css" />
		<meta name="description" content="{{site.description}}"/>
		<meta name="author" content="{{site.author}}"/>
		<link rel="author" href="humans.txt"/>
		<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
		<link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/fontello.css">
		<link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/animation.css">
		<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    	<link rel='stylesheet prefetch' href='https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css'>
    	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
    	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,900|Playfair+Display:700,900'>
	</head>
	<body>
		<div id="override--bootstrap" class="container-fluid hidden-xs">
		  <div class="row nav--top__container navbar-fixed-top">
		    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
		      <ul class="nav nav-pills nav--top__link--container">
		        <li><a href="#" class="nav--top__link nav--top--left">home</a></li>
		        <li class="dropdown"><a id="drop1" href="#" class="nav--top__link nav--top--mid">sections</a>
		          <ul id="menu1" role="menu" aria-labelledby="drop1" class="dropdown-menu">
		            <li role="presentation"><a role="menuitem" href="{{site.baseurl}}/lifestyle" class="nav--top--dropdown--menu-item">Lifestyle</a></li>
		            <li role="presentation" class="divider"></li>
		            <li role="presentation"><a role="menuitem" href="{{site.baseurl}}/design" class="nav--top--dropdown--menu-item">Design</a></li>
		            <li role="presentation" class="divider"></li>
		            <li role="presentation"><a role="menuitem" href="{{site.baseurl}}/food" class="nav--top--dropdown--menu-item">Food</a></li>
		          </ul>
		        </li>
		        <li class="dropdown"><a id="drop1" href="#" class="nav--top__link nav--top--mid">about</a>
		          <ul id="menu1" role="menu" aria-labelledby="drop1" class="dropdown-menu">
		            <li role="presentation"><a role="menuitem" href="#" class="nav--top--dropdown--menu-item">about me</a></li>
		            <li role="presentation" class="divider"></li>
		            <li role="presentation"><a role="menuitem" href="#" class="nav--top--dropdown--menu-item">contact</a></li>
		          </ul>
		        </li>
		        <li class="dropdown"><a id="drop1" href="#" class="nav--top__link nav--top--mid">follow</a>
		          <ul id="menu1" role="menu" aria-labelledby="drop1" class="dropdown-menu">
		            <li role="presentation"><a role="menuitem" href="#" class="nav--top--dropdown--menu-item">instagram</a></li>
		            <li role="presentation" class="divider"></li>
		            <li role="presentation"><a role="menuitem" href="#" class="nav--top--dropdown--menu-item">pinterest</a></li>
		            <li role="presentation" class="divider"></li>
		            <li role="presentation"><a role="menuitem" href="#" class="nav--top--dropdown--menu-item">snapchat</a></li>
		            <li role="presentation" class="divider"></li>
		            <li role="presentation"><a role="menuitem" href="#" class="nav--top--dropdown--menu-item">youtube</a></li>
		            <li role="presentation" class="divider"></li>
		            <li role="presentation"><a role="menuitem" href="#" class="nav--top--dropdown--menu-item">soundcloud</a></li>
		          </ul>
		        </li>
		        <li><a href="#" class="nav--top__link nav--top--left"><span class="glyphicon glyphicon-search"></span></a></li>
		      </ul>
		    </div>
		  </div>
		</div>
		<div class="container-fluid">
		  <div class="row title__container">
		    <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
		      <div class="text--header text---header--h1 h1__container">Sharonius
		        <div class="text--subheader title__description">A design and lifestyle blog</div>
		        <p class="visible-sm"> meow</p>
		        <div class="line--title hidden-xs"></div>
		      </div>
		    </div>
		  </div>
		</div>
		{{ content }}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    	<script src="{{site.baseurl}}/scripts.js"></script>
	</body>
</html>
