---
layout: default
---

<div class="container_fluid">
    <div class="row section__container">
        <div class="col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1 section__container--2col-left">
            <div class="text__header">
            	{{ page.title }}
            </div>
            <div class="header__border--bottom"></div>
            <div class="text__body">
                Peter Kim is a multidisciplinary designer specializing in visual design and animation. For the past 6 years, Peter has collaborated with a variety of clients from tech startups to university branding departments, where he has applied his unique aesthetic to a variety of mediums and business initiatives.  <br/><br/>As a creative director, Peter brings a set of diverse skills and experience to clients, offering more than a typical designer.
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1 section__container--2col-right">
            <div class="text__header">Role</div>
            <div class="header__border--bottom"></div>
            <div class="text__body">
            	{{ page.categories | category_links }}
            </div>
        </div>
    </div>
</div>
<div class="container_fluid">
    <div class="row section__container">
        <div class="col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1 section__container--2col-left">
        	{{ content }}
        </div>
    </div>
</div>



<!-- <article>
        <header>
            <h2>{{ page.title }}</h2>
            <span class="category"><i class="icon-tag"></i> {{ page.categories | category_links }}</span><br/>
        </header>

        <div class="entry">{{ content }}</div>

        <footer><!-- additional info --></footer>

</article> -->

